body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ALL Pages */
#basic-navbar-nav {
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar-main-text {
  color: black;
}

.navbar-right {
  margin-right: 2%;
}

.nav-right-text {
  color: black;
}

.footer {
  position: sticky;
  margin-top: 2%;
}

.scroll-to-top {
  font-size: .75em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 92%;
  margin-bottom: 2%;
}

.footer-navbar-main-text {
  margin-left: 85%;
  position: sticky;
  font-size: 1.5em;
}

/************************************************************************/

/* Blog Pages */
.img-fluid {
  width: 30%;
  margin-left: 20%;
}

h1 {
  text-align: center;
  /* padding-top: 5%; */
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.blog-author {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.work-break-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}

.blog-page-alert {
  margin-top: 2%;
  opacity: 50%;
}

.cards-in-blogs {
  display: inline-block;
}

h1 {
  text-align: center;
  /* padding-top: 5%; */
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.blog-author {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.work-break-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}

.blog-page-alert {
  margin-top: 2%;
  opacity: 50%;
}

.cards-in-blogs {
  display: inline-block;
}

/* Contact Page */
.contact-form-title {
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
}
.form-group {
  margin-top: 2%;
  width: 60%;
  padding-left: 40%;
}

.btn-outline-secondary {
  margin-left: 48%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.form-control {
  margin-top: 1%;
}

.text-area {
  width: 20em;
}

.contact-text-muted {
  text-align: center;
}

.contact-modal {
  margin-right: 50%;
}
/************************************************************************/

/* HomePage */
/* Carousel */
.carousel-caption {
  color: blue;
}

.card-icons {
  align-self: center;
  margin-top: 10%;
  font-size: 5em;
  color: grey;
}

.text-muted {
  margin-left: 35%;
}

.card {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.break-btn {
  margin-left: 45%;
  margin-bottom: 10%;
}

.card-fade {
  opacity: 1;
  transition: opacity 4s;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text-section {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text-section:hover .photo-fade {
  opacity: 0.3;
  transition: opacity 3s;
}

.text-section:hover .middle {
  opacity: 1;
}

.author {
height: 200px;
width: 150px;
}
/************************************************************************/
