body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ALL Pages */
#basic-navbar-nav {
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-title {
  margin-left: 1.5%;
}

.navbar-main-text {
  color: black;
}

.navbar-right {
  margin-right: 2%;
  background-color: transparent !important;
}

.nav-right-text:hover {
  color: rgba(0, 0, 0, 0.774) !important;
  text-decoration: none !important;
  text-decoration-color: none !important;
}

.nav-right-text {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none !important;
  text-decoration-color: none !important;
}

.footer {
  position: sticky;
  margin-top: 3%;
}

.scroll-to-top {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 92%;
  margin-bottom: 2%;
}

.footer-navbar-main-text {
  margin-left: 70%;
  position: sticky;
  font-size: 1.5em;
}

.copyright-text {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  line-height: 2em;
}

.copyright-text-2 {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  margin-bottom: 2.22%;
  line-height: 2em;
}
/************************************************************************/

/* HomePage */
.homepage-title {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.homepage-subtitle {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  padding-bottom: 7%;
}

/* Carousel */
.carousel {
  width: 55%;
  height: 50%;
  margin-left: 22.25%;
  margin-top: -25%;
  z-index: -1;
}

/* Homepage Cards */
.card-deck {
  width: 90%;
  padding-left: 20%;
  padding-right: 8%;
  padding-bottom: 3%;
}

.card-columns {
  width: 50%;
  height: 500px;
  margin-left: 23%;
  margin-top: 4%;
}

.card-icons {
  color: white;
  font-size: 5em;
  margin-top: 7%;
}

.card-body {
  height: 200px;
}

.work-card-body {
  background-image: url("./images/WorkBreakPage/workbreakblog2.jpg");
  background-size: cover;
}

.home-card-body {
  background-image: url("./images/HomeBreakPage/homebreakblogcard.jpg");
  background-size: cover;
}

.play-card-body {
  background-image: url("./images/PlayBreakPage/playbreakblogcard.jpg");
  background-size: cover;
}

.work-card-footer {
  color: orange;
}

.home-card-footer {
  color: green;
}

.play-card-footer {
  color: rgb(0, 68, 255);
}
/************************************************************************/

/* ALL Blog Home Pages */
/* Work Break Home Page */
.workbreak-morning-ritual-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}
/************************************************************************/

/* ALL Blog Pages */
.nav-line-break {
  width: 1500px;
  position: absolute;
  top: 21%;
  height: 1px;
}

.work-line {
  border: 4px solid rgb(71, 209, 179);
}

.home-line {
  border: 4px solid rgb(71, 209, 179);
}

.workbreak-blogpage-nav {
  margin-top: -5%;
  margin-bottom: 1% !important;
  font-size: 1em !important;
  background-color: rgb(185, 255, 240) !important;
}

.workbreak-nav-title {
  text-shadow: 0.1px 0.1px black !important;
  background-color: none !important;
  font-size: 1em !important;
  margin-left: 35%;
}

.homebreak-blogpage-nav {
  margin-top: -5%;
  margin-bottom: 1% !important;
  font-size: 1em !important;
  background-color: rgb(252, 255, 210) !important;
}

.homebreak-nav-title {
  text-shadow: 0.1px 0.1px black !important;
  background-color: none !important;
  font-size: 1em !important;
  margin-left: 35%;
}

.playbreak-blogpage-nav {
  margin-top: -5%;
  margin-bottom: 1% !important;
  font-size: 1em !important;
  background-color: rgb(174, 152, 253) !important;
}

.playbreak-nav-title {
  text-shadow: 0.1px 0.1px black !important;
  background-color: none !important;
  font-size: 1em !important;
  margin-left: 35%;
}

.blog-title {
  position: relative;
  margin-left: 22%;
  font-size: 3.5em;
  margin-top: 7%;
  margin-bottom: 1%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.blog-subtitle {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.subtitle-container {
  border: transparent;
  position: relative;
  width: 610px !important;
  height: 100px !important;
  right: 1%;
}

.blog-author {
  position: relative;
  margin-left: 30%;
  font-family: "Times New Roman", Times, serif;
  margin-top: -10%;
  margin-bottom: -1.5%;
}

.author-avatar {
  margin-top: 3%;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  position: relative;
  top: -2%;
  left: 23%;
}

.homebreak-author-avatar {
  margin-top: 1%;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left: 23%;
  top: -2%;
  position: relative;
}

.playbreak-author-avatar {
  margin-top: 3%;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  position: relative;
  top: -2.7%;
  left: 23%;
}

.blog-date-time {
  margin-left: 30%;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85em;
}

.socials {
  margin-left: 67.2%;
  font-size: 1.2em;
  position: relative;
  top: -1.5%;
}

.blog-intro-text {
  margin-left: 23%;
  margin-right: 23%;
  text-align: justify;
  font-family: Helvetica;
  color: #303030;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}

.blog-text {
  margin-top: 2%;
  margin-left: 23%;
  margin-right: 23%;
  text-align: justify;
  font-family: Helvetica;
  color: #303030;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.blog-header {
  font-weight: bold;
  margin-top: 2%;
  margin-left: 23%;
  margin-right: 23%;
}

.blog-quote {
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-style: oblique;
}

.photo-credit {
  margin-top: 1%;
  margin-left: 64%;
  font-size: 0.5em;
}

.line-break {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 50px;
  width: 50%;
}

.blog-image {
  margin-top: 1%;
  margin-left: 23%;
  width: 600px;
  height: 450px;
}
/************************************************************************/

/************************************************************************/

/* Contact Page */
.contact-background {
  background-image: url("images/carousel/Blue.jpeg");
  background-size: cover;
  margin-top: -10%;
}
.contact-form-title {
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
}
.form-group {
  margin-top: 2%;
  width: 60%;
  padding-left: 40%;
}

.btn-outline-secondary {
  margin-left: 48%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.form-control {
  margin-top: 1%;
}

.text-area {
  width: 20em;
}

.contact-text-muted {
  text-align: center;
}

.contact-modal {
  margin-right: 50%;
}
/************************************************************************/

/* HomePage */
/* Carousel */
.card-icons {
  align-self: center;
  margin-top: 10%;
  font-size: 5em;
  color: grey;
}

.text-muted {
  margin-left: 35%;
}

.card {
  display: flex;
  flex-direction: row;
  flex: 1;
}
/* About Page */
#about-us-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4%;
  font-size: 3em;
}

.rainbow {
  text-decoration: underline;
  font-size: 20px;
  margin-top: 5%;
  margin-left: -5%;
}

.rainbow_text_animated {
  background: linear-gradient(
    to right,
    #2b2eff,
    #00ff0d,
    #eeb808,
    #d82929,
    #368cbe
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 7s ease-out;
  background-size: 400% 100%;
}

.author {
  height: 200px;
  padding-left: 10%;
  border-radius: 50%; 
}

#fadein {
  opacity: 1;
  transition: 2s ease;
  }
  
  #fadein:hover{
  opacity: .5;
  transition: 2s ease;
  }


.about-photo-container {
  padding-top: 3%;
}

.author-bio-container {
  margin-top: 5%;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  box-align: center;
}

.author-name {
  text-align: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-bottom: 2%;
}

.about-text {
  color: black;
  align-content: justify;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
}


/************************************************************************/
