body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ALL Pages */
#basic-navbar-nav {
  margin-top: 1%;
  margin-bottom: 1%;
}
/************************************************************************/

/* Blog Pages */
.img-fluid {
  width: 30%;
  margin-left: 20%;
}

h1 {
  text-align: center;
}

h6 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.blog-container {
  width: 500px;
  height: 500px;
  border: 1px black solid;
  margin-left: 33%;
  margin-top: 2%;
}
/************************************************************************/

/* Contact Page */
.contact-form-title {
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
}
.form-group {
  margin-top: 2%;
  width: 60%;
  padding-left: 40%;
}

.btn-outline-secondary {
  margin-left: 48%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.form-control {
  margin-top: 1%;
}

.text-area {
  width: 20em;
}
/************************************************************************/
