body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ALL Pages */
#basic-navbar-nav {
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar-main-text {
  color: black;
}

.navbar-right {
  margin-right: 2%;
}

.nav-right-text {
  color: black;
}

.footer {
  position: sticky;
  margin-top: 3%;
}

.scroll-to-top {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 92%;
  margin-bottom: 2%;
}

.footer-navbar-main-text {
  margin-left: 70%;
  position: sticky;
  font-size: 1.5em;
}

.copyright-text {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  line-height: 2em;
}

.copyright-text-2 {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  margin-bottom: 2.22%;
  line-height: 2em;
}
/************************************************************************/

/* HomePage */
.homepage-title {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.homepage-subtitle {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  padding-bottom: 7%;
}

/* Carousel */
.carousel {
  width: 55%;
  height: 50%;
  margin-left: 22.25%;
  margin-top: 3%;
}

/* Homepage Cards */
.card-deck {
  width: 90%;
  padding-left: 20%;
  padding-right: 8%;
  padding-bottom: 3%;
}

.card-columns {
  width: 50%;
  height: 500px;
  margin-left: 23%;
  margin-top: 4%;
}

.card-icons {
  color: white;
  font-size: 5em;
  margin-top: 7%;
}

.card-body {
  height: 200px;
}

.work-card-body {
  background-image: url("./images/WorkBreakPage/workbreakblog2.jpg");
  background-size: cover;
}

.home-card-body {
  background-image: url("./images/HomeBreakPage/homebreakblogcard.jpg");
  background-size: cover;
}

.play-card-body {
  background-image: url("./images/PlayBreakPage/playbreakblogcard.jpg");
  background-size: cover;
}

.work-card-footer {
  color: orange;
}

.home-card-footer {
  color: green;
}

.play-card-footer {
  color: rgb(0, 68, 255);
}
/************************************************************************/

/* ALL Blog Home Pages */
/* Animated Choose a Break Text */
.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #2b2eff, #00ff0d , #eeb808, #d82929, #368cbe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 7s ease-out;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
/************************************************************************/

/* Work Break Home Page */
.workbreak-morning-ritual-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}
/************************************************************************/

/* ALL Blog Pages */
.blog-page-alert {
  margin-top: -3.5%;
  opacity: 50%;
}

.blog-title {
  text-align: center;
  font-size: 2em;
  margin-top: 7%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-author {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -1%;
} 

.blog-date-time-socials {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
} 

.blog-text {
  margin-top: 2%;
  text-align: center;
}
/************************************************************************/

/* About Page */
.author {
  height: 200px;
  width: 150px;
  }
/************************************************************************/

/* Contact Page */
.contact-form-title {
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
}
.form-group {
  margin-top: 2%;
  width: 60%;
  padding-left: 40%;
}

.btn-outline-secondary {
  margin-left: 48%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.form-control {
  margin-top: 1%;
}

.text-area {
  width: 20em;
}

.contact-text-muted {
  text-align: center;
}

.contact-modal {
  margin-right: 50%;
}
/************************************************************************/


/* HomePage */
/* Carousel */
.carousel-caption {
  color: blue;
}

.card-icons {
  align-self: center;
  margin-top: 10%;
  font-size: 5em;
  color: grey;
}

.text-muted {
  margin-left: 35%;
}

.card {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.author {
  text-align: center;
height: 200px;
width: 150px;
}
.author-name {
  text-align: center;
}
/************************************************************************/

