body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ALL Pages */
#basic-navbar-nav {
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar-main-text {
  color: black;
}

.navbar-right {
  margin-right: 2%;
}

.nav-right-text {
  color: black;
}

.footer {
  position: sticky;
  margin-top: 2%;
}

.scroll-to-top {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 92%;
  margin-bottom: 2%;
}

.footer-navbar-main-text {
  margin-left: 70%;
  position: sticky;
  font-size: 1.5em;
}

.copyright-text {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  line-height: 2em;
}

.copyright-text-2 {
  font-size: 0.5em;
  display: flex;
  white-space: nowrap;
  margin-left: 1%;
  margin-bottom: 2.22%;
  line-height: 2em;
}
/************************************************************************/

/* Blog Pages */
.img-fluid {
  width: 30%;
  margin-left: 20%;
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.blog-author {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.work-break-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}

.blog-page-alert {
  margin-top: 2%;
  opacity: 50%;
}

.card-columns {
  width: 50%;
  height: 500px;
  margin-left: 26%;
  margin-top: 5%;
}

.card-icons {
  color: white;
  font-size: 5em;
  margin-top: 7%;
}

.card-body {
  height: 200px;
}

h1 {
  text-align: center;
  /* padding-top: 5%; */
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: -10%;
}

.work-break-photo {
  height: 500px;
  margin-left: 25%;
  margin-top: 2%;
}

.blog-page-alert {
  margin-top: 2%;
  opacity: 50%;
}

.blog-title {
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-author {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-text {
  margin-top: 2%;
  text-align: center;
}

/* Contact Page */
.contact-form-title {
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
}
.form-group {
  margin-top: 2%;
  width: 60%;
  padding-left: 40%;
}

.btn-outline-secondary {
  margin-left: 48%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.form-control {
  margin-top: 1%;
}

.text-area {
  width: 20em;
}

.contact-text-muted {
  text-align: center;
}

.contact-modal {
  margin-right: 50%;
}
/************************************************************************/

/* HomePage */
/* Carousel */
.carousel {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;

}
h1 {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 1%;
}

h5 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding-bottom: 7%;
}

h6 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.card-deck {
  width: 90%;
  padding-left: 20%;
  padding-right: 8%;
  padding-bottom: 3%;
}

.author {
height: 200px;
width: 150px;
}
/************************************************************************/
